<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/historialUsuarios.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/historialUsuarios.css">
</head>
<body>

<h1>Historial de Usuarios</h1>

<!-- Redirecciona a un servicio, por lo que se usa @{} -->
<a th:href="@{/usuarios/crearUsuario}" class="ver">Ver</a>
<a th:href="@{crearUsuario}" class="crear">Crear</a>
<a href="" class="editar">Editar</a>
<a href="" class="eliminar">Eliminar</a>

<table>
    <tr>
        <th> </th>
        <th>Identificación</th>
        <th>Nombre</th>
        <th>correo</th>
        <th>Rol</th>
    </tr>

    <!--Iteramos la lista de usuarios  que viene desde el controlador como un objeto model -->
    <tr th:each="usuario : ${listaUsuarios}">

        <td> <input type="checkbox" id="cbox1" value=th:text="${usuario.numeroIdentificacion}"> </td>
        <td th:text="${usuario.numeroIdentificacion}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.correo}"></td>
        <td th:text="${usuario.rol}"></td>

    </tr>

</table>
</body>
</html>