<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login de Usuario</title>
</head>
<body>
<h1>Login de Usuario</h1>

<!--Es necesario poner el action y el post -->
<form th:action="@{login}"  method="post">


    <label for="numeroIdentificacion">Número de Documento:</label>
    <input type="number"  id="numeroIdentificacion" name="numeroIdentificacion" required><br>

    <label for="contrasena">Contraseña</label>
    <input type="password"  id="contrasena" name="password" required><br>

    <input type="submit" value="Envíar">


</form>
    <script th:inline="javaScript">
                    window.onload = function () {

                let mensajeRecibido = [[${mensaje}]]; <!--Obtenemos el mensaje que viene desde el controlador-->
                let mensajeMostrar = "";

                if (mensajeRecibido != "") {

                    if (mensajeRecibido == "saveOk") {
                        mensajeMostrar = "El usuario se ha registrado correctamente";
                    }
                    else if (mensajeRecibido == "saveError") {
                        mensajeMostrar = "Error";
                    }


                    alert(mensajeMostrar);
                }

            };

    </script>
</body>
</html>
