<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
</head>
<body>
<h1>Registro de Usuario</h1>

<form th:action="@{registro/guardarUsuario}" th:object="${usuario}" method="post">


    <label for="nombre">Nombre:</label>
    <input type="text" th:field="*{nombre}" id="nombre" name="nombre" required><br>

    <label for="documento">Número de Documento:</label>
    <input type="text" th:field="*{numeroIdentificacion}" id="documento" name="documento" required pattern="[0-9]{5,}"><br>

    <label for="contrasena">Contraseña</label>
    <input type="password" th:field="*{password}"  id="contrasena" name="contrasena" required pattern=".{5,}"><br>

    <input type="submit" value="Registrarse">


</form>
</body>
</html>
