<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="UTF-8">
      <title>ver Usuario</title>

  </head>
  <body>

  <a href="javascript:history.go(-1)"> Atrás</a>

  <h1>Información usuario</h1>

    <div class="containerInformation" th:object="${usuario}">

        <p>
            <span>Nombre</span>
            <span th:text="${usuario.nombre}"></span>
        </p>

        <p>
            <span>Numero de identificación</span>
            <span th:text="${usuario.numeroIdentificacion}"></span>
        </p>

        <p>
            <span>Correo</span>
            <span th:text="${usuario.correo}"></span>
        </p>

        <p>
            <span>Telefono</span>
            <span th:text="${usuario.telefono}"></span>
        </p>

        <p>
            <span>Rol</span>
            <span th:text="${usuario.rol}"></span>
        </p>

        <p>
            <span>Fecha de creación</span>
            <span th:text="${#dates.format(usuario.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
        <p>


            <span>Estado</span>
            <!-- hacer if  por si el estado es false  poner Inactivo y y si es true Activo-->

            <span th:if="${usuario.estado==true}">Activo</span>
            <span th:if="${usuario.estado==false}">Inactivo</span>

        </p>

        <p>
            <span>Dirección</span>
            <span th:text="${usuario.direccion}"></span>
        </p>

        <p>
            <span>Descripción</span>
            <span th:text="${usuario.descripcion}"></span>
        </p>
    </div>

  </body>
</html>