<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/historialUsuarios.css}">
</head>
<body>
<h1>Historial de Usuarios</h1>

<button type="button"> Ver</button>
<button type="button">Eliminar</button>
<button type="button">Modificar</button>
<button type="button">Crear</button>
<table>
    <tr>
        <th> </th>
        <th>Identificación</th>
        <th>Nombre</th>
        <th>correo</th>
        <th>Rol</th>

    </tr>

    <!--Iteramos la lista de usuarios  que viene desde el controlador como un objeto model -->
    <tr th:each="usuario : ${listaUsuarios}">

        <td> <input type="checkbox" id="cbox1" value=th:text="${usuario.numeroIdentificacion}"> </td>
        <td th:text="${usuario.numeroIdentificacion}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.correo}"></td>
        <td th:text="${usuario.rol}"></td>

    </tr>
</table>
</body>
</html>